<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="DAISEE">

        <title>DAISEE Dataviz</title>

        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css">

        <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.css">

        <link rel="stylesheet" type="text/css" href="static/css/custom.css">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />


    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DAISEE @ Biennale Internationale du Design</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">HeatMap</a></li>
                        <li class="active"><a href="#">Flux</a></li>
                        <li><a href="/oeuvres">Oeuvres</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="starter-template">
                <h1>Tableau de bord DAISEE</h1>
                <p class="lead">Suivi des flux d'énergie entre les différentes oeuvres</p>
                <div class="container">
                    <div class="row">

                        <div id='map'></div>

                    </div>
                </div>
            </div>

        </div><!-- /.container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>

        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<script src="static/js/leaflet.migrationLayer.js"></script>

        <script>

        var ip = location.host;

        function getData(){
            $.getJSON('http://' + ip  + '/get_flux_data/', function (data) {
                var json = JSON.stringify(data.result);
                var data = JSON.parse(json);
                var data2 = [];

                var migrationLayer = new L.migrationLayer({
                    map: lrmap,
                    data: data,
                    pulseRadius:10,
                    pulseBorderWidth:3,
                    arcWidth:1,
                    arcLabel:true,
                    arcLabelFont:'20px sans-serif',
                    }
                );
                migrationLayer.addTo(lrmap);
                function setData(){
                    migrationLayer.setData(data2);
                }
                function hide(){
                    migrationLayer.hide();
                }
                function show(){
                    migrationLayer.show();
                }
                function play(){
                    migrationLayer.play();
                }
                function pause(){
                    migrationLayer.pause();
                }
                function destroy() {
                    migrationLayer.destroy();
                }


            });


        };

        var lrmap = L.map('map').setView([45.45091,4.38711], 19);
        L.tileLayer('https://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey={apikey}', {
                attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                maxZoom: 22,
                apikey: '{apikey}'
            }).addTo(lrmap);

        var flux = getData();

        </script>


    </body>

</html>