<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="DAISEE">

        <title>DAISEE Dataviz</title>

        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css">

        <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.css">

        <link rel="stylesheet" type="text/css" href="static/css/custom.css">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />



    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DAISEE @ Biennale Internationale du Design</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Accueil</a></li>
                        <li class="active"><a href="#">HeatMap</a></li>
                        <li><a href="/oeuvres">Oeuvres</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="starter-template">
                <h1>Tableau de bord DAISEE</h1>
                <p class="lead">Heatmap des sources de consommation et production</p>
                <!-- <p>conso oeuvre 1 : <span id="result">?</span></p>
                <p><a href="javascript:void();" id="calculate">calculate server side</a> -->
                <div class="container">
                    <div class="row">

                        <div id='map'></div>

                    </div>
                </div>
            </div>

        </div><!-- /.container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{
          url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<script src="static/js/leaflet-heat.js"></script>

        <script type="text/javascript">

            function getData(){
                $.getJSON('http://127.0.0.1:5000/get_data/', function (data) {

                    var json = JSON.stringify(data.result);
                    var items = JSON.parse(json);
                    var heatList = [];
                    for (i in items) {
                        list = [];
                        list.push(items[i].lat);
                        list.push(items[i].lon);
                        list.push(items[i].value);
                        heatList.push(list);
                    }

                    var heat = L.heatLayer(heatList, {radius: 50}, {0.4: 'blue', 0.65: 'lime', 5: 'red'}).addTo(hGroup);
                    hGroup.addTo(map);

                });
            };

            var map = L.map('map').setView([45.45114, 4.38660], 18);

            L.tileLayer('http://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                maxZoom: 20,
                attribution: '&copy; Openstreetmap France | &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            var hGroup = new L.LayerGroup();

            setInterval(function() {
                var hList = getData();
                map.removeLayer(hGroup);
            }, 11000);

        </script>

    </body>

</html>